body {
    background: linear-gradient(to right,#a8dc4e, #e3f2fd, #a8dc4e);
    font-family: 'Poppins', sans-serif;
}


.card {
    background: linear-gradient(to right,#e3f2fd,  #e3f2fd);
   text-shadow: 0.5px 0.5px 1px black;
}

/* Biar footer selalu di bawah */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 800px; /* biar tetap enak di laptop */
  margin: auto;
}

/* Footer sosial */
.footer-sosial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-sosial a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-sosial i {
    font-size: 18px;
}

/* Link sosial (diperkecil) */
.footer-sosial a {
    text-align: center;
    padding: 6px;
    font-size: 13px;
    border-right: 1px solid white;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.footer-sosial a:last-child {
    border-right: none;
}

/* Hover biar ada efek */
.footer-sosial a:hover {
    background-color: #a8dc4e;
    color: white;
}

h1, h2 {
    font-weight: bold;
}